@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
}
/**************** form field heade **********/
.field-container{
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
}
.field-container .heading{
    text-align: center;
    font-size: 1.2rem;
    margin-top: 3em;
   
}
/************ form field input*************/
.form{
    padding: 15px 30px;
}
.field{
    width: 100%;
    height: 50px;
    position: relative;
    overflow: hidden;
    margin: 20px 0 3px 0;
}
.field input{
    width: 100%;
    line-height: 1.5;
    border: none;
    outline: none;
    padding-top: 30px;
}
/************ form field input*********/
.field label{
    position: absolute;
    bottom: 0px;
    left: 0%;
    pointer-events:none;
    border-bottom: 1px solid #000;
    width: 100%;
    height: 100%;
}

.field label::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    border-bottom: 1px solid red;
    transform: translateX(-100%);/*hidden the style*/
    transition: transform 0.3s ease;
}
.name-field{
    position: absolute;
    bottom: 5px;
    left: 0;
    transition: all 0.3s ease;
}
.field input:focus+.label-name .name-field,
.field input:valid+.label-name .name-field{
    transform: translateY(-150%);
    color: red;
    font-size: .9rem;

}
.field input:focus+.label-name::after,
.field input:valid+.label-name::after{
    transform: translateX(0%);  

}
