@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    padding: 0;
    margin: 0s;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    
}
body{
     background: #ccc;
}
/* container */
.container{
    padding: 10px;
    width: 380px;
    margin: 0 auto;
   
}
/* header */
.header{
    width: 380px;
    height: 200px;
    background-image: url("../img/daytime.jpg");
    background-size: 100% 200%;
    background-repeat: no-repeat;
    border-radius: 15px 15px 0 0;
    position: relative;
}
.clear-btn{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 20px;
    left: 20px;
}
.clear-btn i{
    font-size: 30px;
    margin-top: 1em;
    /* color: #FFF; */
}
.clear-btn i:hover{
    cursor: pointer;
    text-shadow: 1px 3px 5px #000;
    transform: rotate(45deg);
}
.user{
    position: absolute;
    top: 50%;
    left: 10px;
    color: #fff;
}
#date{
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 10px;
    color: #FFF;
}
/* content */
.content{
    width: 380px;
    height: 350px;
    max-height: 350px;
    background: #fff;
    overflow: auto;
    border-radius: 4px;
}
/* .content ul{
    margin: 0;
    padding: 0;
} */
.content::-webkit-scrollbar { 
    display: none; 
}
.list{
    list-style: none;
}
.item{
    width:360px ;
    height: 45px;
    max-height: 45px;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0;
    padding: 0;
}
.item i.co{
    position: absolute;
    font-size: 18px;
    padding-left:5px;
    left:0px;
    top:10px;
}
.item i.co:hover{
    cursor: pointer;
}
/* .fa-check-circle{
    color:#6eb200;
} */
.item p.text{
    position: absolute;
    font-size: 20px;
    left: 50px;
    top: 7px;
    max-width:285px;
    margin: 0;
    padding: 0;
}
/* .lineThrough{
    text-decoration: line-through;
    color : #ccc;
} */
.item i.de{
    position: absolute;
    font-size: 20px;
    right: 0px;
    top: 10px;
}
.item i.de:hover{
    color:#af0000;
    cursor: pointer;
}
/**************add item *************/
.add-item{
    position: relative;
    width: 380px;
    height:40px;
    padding: 10px ;
    position: fixed;
    top: 75%;
    /* border-top: 1px solid rgba(0,0,0,0.1); */
    /* background-color: #FFF; */
}
.add-item i{
    position: absolute;
    font-size: 30px;
    color: hsl(152, 100%, 25%);
}
.add-item input{
    position: absolute;
    height: 35px;
    width: 310px;
    left: 45px;
    padding-left: 10px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
}